<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pickit">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PickIT">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".shopowner.AddProActivity" />
        <activity android:name=".customer.views.SearchActivity" />
        <activity android:name=".customer.views.VerifyOTP" />
        <activity android:name=".shopowner.AddProductActivity" />
        <activity android:name=".customer.views.SuccessfullyOrdered" />
        <activity android:name=".shopowner.Ordered" />
        <activity android:name=".customer.views.NewPassword" />
        <activity android:name=".customer.views.ForgotPassword" />
        <activity android:name=".customer.views.ChangePassword" />
        <activity android:name=".customer.views.ProductDetail" />
        <activity android:name=".customer.views.Cart" />
        <activity android:name=".customer.views.Successfully_SignedUp_Customer" />
        <activity
            android:name=".customer.views.CustomerHomeScreen"
            android:screenOrientation="portrait" />
        <activity android:name=".shopowner.ShopOwnerLogin" />
        <activity android:name=".shopowner.ShopOwnerSignUp" />
        <activity android:name=".shopowner.ShopOwnerHomeScreen" />
        <activity android:name=".customer.views.ShopSelection" />
        <activity android:name=".shopowner.Successfully_SignedUp_ShopOwner" />
        <activity android:name=".customer.views.CustomerLoginActivity" />
        <activity android:name=".customer.views.CustomerSignUp" />
        <activity android:name=".LoginSignUp" />
        <activity android:name=".OnBoardingActivity" />
    </application>

</manifest>