<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pickit">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PickIT">
        <activity android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".shopowner.AddProActivity"
            android:exported="false"/>
        <activity android:name=".customer.views.SearchActivity"
            android:exported="false"/>
        <activity android:name=".customer.views.VerifyOTP"
            android:exported="false"/>
        <activity android:name=".shopowner.AddProductActivity"
            android:exported="false"/>
        <activity android:name=".customer.views.SuccessfullyOrdered"
            android:exported="false"/>
        <activity android:name=".shopowner.Ordered"
            android:exported="false"/>
        <activity android:name=".customer.views.NewPassword"
            android:exported="false"/>
        <activity android:name=".customer.views.ForgotPassword"
            android:exported="false"/>
        <activity android:name=".customer.views.ChangePassword"
            android:exported="false"/>
        <activity android:name=".customer.views.ProductDetail"
            android:exported="false"/>
        <activity android:name=".customer.views.Cart"
            android:exported="false"/>
        <activity android:name=".customer.views.Successfully_SignedUp_Customer"
            android:exported="false"/>
        <activity
            android:name=".customer.views.CustomerHomeScreen"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity android:name=".shopowner.ShopOwnerLogin"
            android:exported="false"/>
        <activity android:name=".shopowner.ShopOwnerSignUp"
            android:exported="false"/>
        <activity android:name=".shopowner.ShopOwnerHomeScreen"
            android:exported="false"/>
        <activity android:name=".customer.views.ShopSelection"
            android:exported="false"/>
        <activity android:name=".shopowner.Successfully_SignedUp_ShopOwner"
            android:exported="false"/>
        <activity android:name=".customer.views.CustomerLoginActivity"
            android:exported="false"/>
        <activity android:name=".customer.views.CustomerSignUp"
            android:exported="false"/>
        <activity android:name=".LoginSignUp"
            android:exported="false"/>
        <activity android:name=".OnBoardingActivity"
            android:exported="false"/>
    </application>

</manifest>